.clients-data {
    position: relative;
    max-width: 100%;
    padding: 200px 0px 40px 0px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
        & h1 {
            color: black;
            font-size: 26px;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        width: 100%;
        & input {
            text-align: center;
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 10px 15px;
            width: 48.5%;
            color: white;
            font-family: "Panton";
            font-size: 16px;
            font-style: normal;
            line-height: normal;
            background-color: blue;
        }
        & input::placeholder{
            color: white;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
        }
        & input:focus::placeholder{
            color: transparent;
        }
    }
}
.credit-rating {
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px;
    width: 48.5%;
    color: black;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    background-color: white;
}