
@font-face {
  font-family: "Panton";
  src: url('/fonts/Panton-Regular.woff2') format('woff2'),
       url('/fonts/Panton-Regular.woff') format('woff'),
       url('/fonts/Panton-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: "Cormorant-Infant";
  src: url('/fonts/CormorantInfant-Regular.woff2') format('woff2'),
       url('/fonts/CormorantInfant-Regular.woff') format('woff'),
       url('/fonts/CormorantInfant-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: "Cormorant-Infant";
  src: url('/fonts/CormorantInfant-Bold.woff2') format('woff2'),
       url('/fonts/CormorantInfant-Bold.woff') format('woff'),
       url('/fonts/CormorantInfant-Bold.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
       font-display: swap;
}