.header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
    padding: 25px;
    background-color: blue;
    border-radius: 20px;
}