@import './reset.scss';
@import './fonts.scss';
@import './mixins.scss';
/*--------------------------------------------html,body-----------------------------------*/
* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: "Panton";
    background-color: #F5F5F5;
    font-weight: 400;
}
body._lock{
    overflow: hidden;
}
/*--------------------------------------------wrapper-------------------------------------*/
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/*--------------------------------------------container-----------------------------------*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.page {
    flex: 1 1 auto;
}
/*--------------------------------------------logo-----------------------------------------*/
@import './logo.scss';
/*--------------------------------------------button-submit--------------------------------*/
@import './button-submit.scss';
/*--------------------------------------------main-button----------------------------------*/
@import './main-button.scss';
/*--------------------------------------------navbar---------------------------------------*/
@import './navbar.scss';
/*--------------------------------------------header---------------------------------------*/
@import './header.scss';
/*--------------------------------------------footer---------------------------------------*/
@import './footer.scss';
/*--------------------------------------------special--------------------------------------*/
@import './special.scss';
/*--------------------------------------------special-swiper-------------------------------*/
@import './special-swiper.scss';
/*-------------------------------------------exchange-rates--------------------------------*/
@import './exchange-rates.scss';
/*--------------------------------------------------news-----------------------------------*/
@import './news.scss';
/*----------------------------------------------news-block---------------------------------*/
@import './news-block.scss';
/*----------------------------------------------news-page----------------------------------*/
@import './news-page.scss';
/*---------------------------------------------register------------------------------------*/
@import './register.scss';
/*---------------------------------------------login---------------------------------------*/
@import './login.scss';
/*-------------------------------------------clients-data----------------------------------*/
@import './clients-data.scss';